<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="content" style="margin: 20% 20%">
    <div class="card">
        <div class="firstinfo"><img src="http://www.doyoubuzz.com/var/users/_/2016/11/15/18/1300826/avatar/1253797/avatar_cp_630.jpg?t=1504470047" />
            <div class="profileinfo">
                <h1>{{username}}</h1>
                <h3>{{email}}</h3>
                <p class="bio"> <a href="http://www.doyoubuzz.com/harun-pehlivan" target="_blank">E-CV</a> </p>
            </div>
        </div>
    </div>
    <div class="badgescard"> 
        <span class="fa fa-facebook"></span>
        <span class="fa fa-twitter"> </span>
        <span class="fa fa-google-plus"></span>
        <span class="fa fa-youtube"></span>
        <span class="fa fa-dribble"></span>
        <span class="fa fa-google"></span>
        <span class="fa fa-android"> </span>
    </div>
</div>