<div class="login-area">
    <div class="bg-image">
        <div class="login-signup">
            <div class="container">
                <div class="login-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="login-logo">
                                <!--<img src="" alt="merkury_logo" class="img-responsive">-->
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="login-details">
                                <ul class="nav nav-tabs navbar-right">
                                    <li class="active"><a data-toggle="tab" href="#login">Login</a></li>
                                    <li><a data-toggle="tab" href="#register">Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="tab-content">
                    <div id="register" class="tab-pane">
                        <div class="login-inner">
                            <div class="title">
                                <h1>Greetings. <span></span></h1>
                            </div>
                            <div class="login-form">
                                <form [formGroup]="form" (submit)="onRegisterSubmit()"> <!--  binding formGroup to form property in register.component -->
                                    <div class="form-details">
                                        <label class="user">
                                            <div [ngClass] = "{ 'has-error': (form.controls.username.errors && form.controls.username.dirty), 'has-success': !form.controls.username.errors }" >
                                                <input type="text" name="username"  placeholder="*Username" id="username" formControlName="username">
                                                <ul class="help-block">
                                                    <li *ngIf="form.controls.username.errors?.required && form.controls.username.dirty">* This field is a required field</li>
                                                    <li *ngIf="(form.controls.username.errors?.minlength || form.controls.username.errors?.maxlength) && form.controls.username.pristine">Your username must be between 3-15 characters long.</li>
                                                    <li></li>
                                                </ul>
                                            </div>
                                        </label>
                                        <label class="mail">
                                            <div [ngClass] = "{'has-error': (form.controls.email.errors && form.controls.email.dirty), 'has-success': !form.controls.email.errors}" >
                                                <input type="text" name="email" placeholder="*Email" formControlName="email" />
                                                <ul class="help-block">
                                                    <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">* This field is a required field</li>
                                                    <li *ngIf="(form.controls.email.errors?.minlength || form.controls.email.errors?.maxlength) && form.controls.email.dirty">Your email must be between 5-30 characters long.</li>
                                                    <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">Please enter a valid email.</li>
                                                </ul>
                                            </div>
                                        </label>
                                        <label class="pass">
                                            <div [ngClass] = "{'has-error': (form.controls.password.errors && form.controls.password.dirty), 'has-success': !form.controls.password.errors}" >
                                                <input type="password" name="passsword" autocomplete="off" placeholder="*Password" id="password" formControlName="password">
                                                <ul class="help-block">
                                                    <li *ngIf="form.controls.password.errors?.required && form.controls.password.dirty">* This field is a required field</li>
                                                    <li *ngIf="form.controls.password.errors?.minlength || form.controls.password.errors?.maxlength">Your password must be between 6-35 characters long.</li>
                                                </ul>
                                            </div>
                                        </label>
                                        <label class="pass">
                                            <div [ngClass] = "{'has-error': (form.controls.confirm.errors && form.controls.confirm.dirty), 'has-success': !form.controls.confirm.errors}">
                                                <input type="password" name="confirm" autocomplete="off" placeholder="*Confirm Password" id="password" formControlName="confirm">
                                                <ul class="help-block">
                                                    <!-- ngIf is a directive that is used to add an element to the DOM-->
                                                    <li *ngIf="form.controls.confirm.errors?.required && form.controls.confirm.dirty">* This field is a required field</li>
                                                    <li *ngIf="form.controls.confirm.errors?.minlength || form.controls.confirm.errors?.maxlength">Your password do not match.</li>
                                                </ul>
                                            </div>
                                        </label>
                                    </div>
                                    <button [disabled]="!form.valid" type="submit" class="form-btn" onsubmit="">Sent</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="login" class="tab-pane fade in active">
                        <div class="login-inner">
                            <div class="title">
                                <h1>Welcome. <span></span></h1>
                            </div>
                            <div class="login-form">
                                <div>
                                    <div class="form-details">
                                        <label class="user">
                                            <input type="text" name="username" placeholder="Username" id="username">
                                        </label>
                                        <label class="pass">
                                            <input type="password" name="passsword" placeholder="Password" id="password">
                                        </label>
                                    </div>
                                    <button type="submit" class="form-btn" onsubmit="">Sent</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

